*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
}

h1{
  text-align: center;
}

form{
  margin: 20px 0;
}

input{
  width: 500px;
  height: 50px;
  padding: 8px 16px;
  font-size: 1.2em;
  margin: 10px 20px 0 0;
}

button{
  height: 50px;
  padding: 8px 16px;
  border: none;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.add-btn{
  background: lightgreen;
}

.del-btn{
  background: salmon;
}


li{
  list-style: none;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 20px;
}

li span{
  width: 60%;
  border: 2px solid gray;
  padding: 8px 16px;
}

