*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
}

h1{
  text-align: center;
}

.notes-form{
  width: 80%;
  margin: 0 auto;
}

form{
  width: 80%;
  margin: 0 auto;
}

input{
  width: 60%;
  height: 50px;
  padding: 8px 16px;
  font-size: 1.2em;
  margin: 10px 20px 0 0;
}

button{
  height: 50px;
  padding: 8px 16px;
  border: none;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.add-btn{
  background: lightgreen;
}

ul{
  width: 80%;
  margin: 20px auto;
}

li{
  list-style: none;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 20px;
}

li span{
  width: 60%;
  border: 2px solid gray;
  padding: 8px 16px;
}

.del-btn{
  background: salmon;
}

@media screen and (max-width: 500px) {
  .notes-form{
    width: 100%;
  }

  form{
    width: 90%;
    margin: 0 auto;
  }

  input{
    width: 70%;
  }
  
  ul{
    width: 90%;
    margin: 20px auto;
  }

  li{
    display: block;
    background: seashell;
    padding: 8px 16px;
  }

  li span{
    display: block;
    width: 100%;
    border: 2px solid gray;
    padding: 8px 16px;
    margin-bottom: 10px;
  }
}
